.Avatar {
  position: absolute;
  bottom: 5px;
  animation: squiddy-float 5s infinite;
}

.Avatar .squiddy {
  width: 350px;
}

@keyframes squiddy-float {
  0% {
    transform: rotateZ(0deg) translateY(0);
  }
  20% {
    transform: rotateZ(-6deg) translateY(-18px);
  }
  66% {
    transform: rotateZ(5deg) translateY(0);
  }
  100% {
    transform: rotateZ(0deg) translateY(0);
  }
}
